<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">

<div class="container">
  <div class="row" style="margin-right: 60px;padding: 20px;">
  <div class="col-md-3">
    <div class="card-counter primary">
      <mat-icon>supervised_user_circle</mat-icon> &nbsp;&nbsp; 
      <span ><b style="font-size: large;"> Bookings </b></span>  
      <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>2500</b></span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter danger">
      <mat-icon>home</mat-icon> &nbsp;&nbsp; 
      <span ><b style="font-size: large;">Users </b></span>  
      <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>150</b></span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter success">
      <mat-icon>chrome_reader_mode</mat-icon> &nbsp;&nbsp; 
      <span ><b style="font-size: large;">Tables </b></span>  
      <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>450</b></span>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-counter info">
      <mat-icon>event</mat-icon> &nbsp;&nbsp; 
      <span ><b style="font-size: large;">Cheifs </b></span>  
      <br>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span ><b>600</b></span>
    </div>
  </div>