
table {
    width: 100%;
  }
  
  .card-margin{
    margin: 2% 2% 2% 2%;
   }
  
  mat-toolbar{
    background-color: white;
  }
  p{
    text-align: center;
  }
  .spacer{
    flex: 1 1 auto;
  }
  
  .view{  
  cursor: pointer;
  margin: 3px;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 5px;
  }
  
  .add{
  margin-left: -5px;
  font-size: 20px;
  }
  .newButton{
    margin-left: -2.1%;
    height: 35px;
  }
  .courseImage{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 2px;
  }
  
  
  
  th{
    font-weight: bold;
  }
  
  .image{
    text-align: center;
    background-color: white;
    div{
      text-align: center;
      font-size: 30px;
      color: #CACFD2;
      font-weight: 400;
  }
  }

  .student_image{
    text-align: center;
    background-color: white;
    width:75px;
    height:75px;
    margin: 10px;
  }
  
  .matTable{
  border: 1px solid #E5E7E9;
  }
  