<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Restoran Admin</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/admin']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>dashboard</mat-icon>&nbsp;&nbsp; Dashboard</a>
  
        <a mat-list-item [routerLink]="['/admin/bookings']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>supervised_user_circle</mat-icon>&nbsp;&nbsp; Bookings</a>

        <a mat-list-item [routerLink]="['/admin/menus']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>library_books</mat-icon>&nbsp;&nbsp; Menu</a>

        <a mat-list-item [routerLink]="['/admin/users']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>supervisor_account</mat-icon>&nbsp;&nbsp; Users</a>

        <a mat-list-item [routerLink]="['/admin/cheifs']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>fastfood</mat-icon>&nbsp;&nbsp; Cheifs</a>

        <a mat-list-item [routerLink]="['/admin/tables']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>table_chart</mat-icon>&nbsp;&nbsp; Tables</a>
  
        <mat-accordion class="app-nav-accordion">
          <mat-expansion-panel class="mat-elevation-z0" style="background-color:transparent;"
            routerLinkActive="router-link-active">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>settings</mat-icon>
                <div>&nbsp;&nbsp;&nbsp;CMS</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item [routerLink]="['aboutus']" routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{exact: false}">
                &nbsp;&nbsp;<mat-icon>library_books</mat-icon>&nbsp;&nbsp; About Us</a>
              <a mat-list-item [routerLink]="['contactus']" routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{exact: false}">
                &nbsp;&nbsp;<mat-icon>drive_file_rename_outline</mat-icon>&nbsp;&nbsp; Contact Us</a>

              <!-- <a mat-list-item [routerLink]="['centers/new-center']" routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{exact: false}">
                &nbsp;&nbsp;<mat-icon>drive_file_rename_outline</mat-icon>&nbsp;&nbsp; Centers</a>
              <a mat-list-item [routerLink]="['courses']" routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{exact: false}">
                &nbsp;&nbsp;<mat-icon>drive_file_rename_outline</mat-icon>&nbsp;&nbsp; Courses</a>
              <a mat-list-item [routerLink]="['questions']" routerLinkActive="router-link-active"
                [routerLinkActiveOptions]="{exact: false}">
                &nbsp;&nbsp;<mat-icon>drive_file_rename_outline</mat-icon>&nbsp;&nbsp; Batchs</a> -->

            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item [routerLink]="['/admin/services']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>local_library</mat-icon>&nbsp;&nbsp; Services</a>

        <a mat-list-item [routerLink]="['/admin/profile']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon> perm_identity </mat-icon>&nbsp;&nbsp; Profile</a>

        <a mat-list-item [routerLink]="['/admin/logout']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        &nbsp;&nbsp;<mat-icon>arrow_forward</mat-icon>&nbsp;&nbsp; Logout</a>
  
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card color="primary" style="height:50px;background-color:blue" >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span style="color:white">Dashboard</span>
  
        <p class="badge">
          <mat-icon matBadge="5">notifications</mat-icon>
        </p>
  
        <button class="admenu" mat-button [matMenuTriggerFor]="menu"> Admin <mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Change Password</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
  
      </mat-card>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  