mat-form-field{
    width:80%;
    border-radius: 20px;
    color: #000;
}
mat-input{
    color: black;
}
mat-label{
 color: black;
}
button{
    width: 60%;
}
mat-card-content{
    text-align: center;
    color:azure;
    width: 50%;
}
a{
  float: right;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.header{
    text-align: center;
    height: 100%;
    
    padding: 2px;
}
button{
    text-align: center;
    width: 100%;
    color:rgb(9, 10, 10);  
}
.login-button {
    display: inline-block;
    width: 150px;
}
.signUpBtn{
    margin: 10px;
}
.h2{
    color: black;
    padding-top: 20px;
}
.loginForm{
    
    background-color:white;
    
    
    border-radius: 10px;
    width: 40%;
    padding: 50px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
body {
    overflow: hidden; /* Hide scrollbars */
  }

  .home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-image {
    width: 250px;
    height: 150px;
    min-height: 10px; /* Added to show image */
    margin-top: 10px;
    background-image: url('../../assets/img/resto1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}