<mat-card>
    <h1><b> Booking view</b></h1>
    <hr>

  
<form>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> Booking Id</mat-label> :
                        {{ bookingData.bookingId }}                    
               
            </div>
        </div>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> User Name </mat-label> :
                        {{ bookingData.name }}                    
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> Date time </mat-label> :
                        {{ bookingData.datetime }}                    
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> User email </mat-label> :
                        {{ bookingData.email }}                    
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> People </mat-label> :
                        {{  bookingData.people }}                    
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label> Special request </mat-label> :
                        {{  bookingData.specialrequest }}                    
               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                
                    
                        <mat-label>  Created Date </mat-label> :
                        {{ bookingData.createdDate }}                    
               
            </div>
        </div>
        
    </form>

</mat-card>

