<b><p style="text-align: center;margin-top: 20px;"> Menu Images</p></b>

<mat-card class="mat-elevation-z0">
    <mat-card-header>
      <button mat-raised-button style="margin-right: 100px;"  color="primary" routerLink="/admin/menus/add-menuimage/{{id}}/upload"
        routerLinkActive="router-link-active">
        <mat-icon class="add">add_circle</mat-icon> Add Image
      </button>

      
    </mat-card-header>
  

 <div class="col-md-4 card mt-3" *ngFor="let item  of menuImages ">
    {{ item.id }}
    
        <div class="col-md-4 card mt-3" style="align-items: center;">
          <div class="bg-image hover-overlay">
          <img src="{{ item.link }}" alt="" style="height:150px;width:150px;margin-left: 50px;">
          </div>
        
        
      </div>
      
  </div> 

</mat-card>

  
